@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Add to your index.css or a global stylesheet */
.polygon-bg {
  background: url('/assets/skills/polygon-bg.svg') center/cover no-repeat, #222;
}

body {
  overflow-x: hidden;
}